* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif !important;
}

input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 14px;
    border-radius: 50%;
}
